* {
    font-family: Nunito;
}

.btn-pill {
    border-radius: 50px !important;
    width: 175px;
    height: 75px;
}

.btn-green {
    background-color: #138f11;
}

.btn-red {
    background-color: #8f1111;
}

.font-bold {
    font-family: Secular One;
    color: #000000;
}

.z-index {
    z-index: -1;
}

.miContainer {
    background-image: url(../imagenes/tablaMaterialesBackground.png);
    background-position: center;
    overflow: hidden;
}

.img-hojas {
    background-image: url(../imagenes/hojas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    transform: rotateX('90deg');
}

.showModalUpdate, .updateCartoneroModal {
    display: none;
    position: absolute;
}

.editBtn, .editCartoneroBtn {
    background-color: transparent;
    border: none;
}
